
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Horas</title>


    <style type="text/css">


        table {
            text-align: center;
        }
    </style>

</head>
<body>


    <div class="container">
        <br />
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Lista de horas</h3>
        <br />
        <br />


        <!--Boton + para crear un nuevo registro-->
        <div class="multi-action">
            <button class="action-button rotate-minus bg-green fg-white" onclick="$(this).toggleClass('active')" title="Registrar nueva hora">
                <span class="icon"><span class="mif-plus"></span></span>
            </button>
            <ul class="actions drop-right">
                <li class="bg-blue"><a href="@Url.Action("Crear","RegistroHoras")"><span class="mif-truck" title="Registrar nueva hora"></span></a></li>
            </ul>
        </div>

        <!--.striped para sombrear las filas tipo cebra-->
        <table class="table compact cell-border table-border bg-white row-hover row-border " data-horizontal-scroll="true" data-pagination-short-mode="true">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Cliente Primserv</th>
                    <th>Tarea</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Fecha Registro</th>
                    <th>Estado</th>
                    <th>Opciones</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Proyecto 1</td>
                    <td>Bill</td>
                    <td>tarea 1</td>
                    <td>11-05-16</td>
                    <td>08:00</td>
                    <td>18:00</td>
                    <td>11-05-16</td>
                    <td>habilitado</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>


                </tr>
                <tr>
                    <td>Proyecto 1</td>
                    <td>Bill</td>
                    <td>tarea 1</td>
                    <td>11-05-16</td>
                    <td>08:00</td>
                    <td>18:00</td>
                    <td>11-05-16</td>
                    <td>habilitado</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Proyecto 1</td>
                    <td>Bill</td>
                    <td>tarea 1</td>
                    <td>11-05-16</td>
                    <td>08:00</td>
                    <td>18:00</td>
                    <td>11-05-16</td>
                    <td>habilitado</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>


</body>
</html>
