<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Empresa</title>


    <style type="text/css">
    </style>



</head>
<body>


    <div class="container">


        <div class="cell-lg-9">

            <div class="bg-white p-4 m-2">
                <h4>Actualizar Empresa</h4>

                <form class="custom-validation need-validation" novalidate="">

                    <div class="row mb-3">
                        <div class="cell-md-3">
                            <label>Rut</label>
                            <input type="text" required="" value="12345678-9">
                            <div class="invalid_feedback">Ingrese el Rut</div>
                        </div>

                        <div class="cell-md-9">
                            <label>Nombre</label>
                            <input type="text" required value="Labram.sa">
                            <div class="invalid_feedback">Ingrese el Nombre</div>
                        </div>

                    </div>


                    <div class="row mb-2">

                        <div class="cell-md-6">
                            <label>Razon Social</label>
                            <input type="text" required value="Servicios de Maestranza">
                            <div class="invalid_feedback">Ingrese la Razon Social</div>
                        </div>

                        <div class="cell-md-6">
                            <label>Giro</label>
                            <input type="text" required value="">
                            <div class="invalid_feedback">Ingrese el Giro</div>
                        </div>
                    </div>


                    <div class="row mb-2">

                        <div class="cell-md-9">
                            <label>Direccion</label>
                            <input type="text" required="" title="">
                            <div class="invalid_feedback">Ingrese la Direccion</div>
                        </div>

                        <div class="cell-md-3">
                            <label>Comuna</label>
                            <input type="text" required="">
                            <div class="invalid_feedback">Ingrese la Comuna</div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="cell-md-6">
                            <label>Ciudad</label>
                            <input type="text" required="">
                            <div class="invalid_feedback">Ingrese la Ciudad</div>
                        </div>


                        <div class="cell-md-6">
                            <label>Email</label>
                            <input type="email" required="">
                            <div class="invalid_feedback">Ingrese el Email</div>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="cell-md-6">

                            <label>Contacto</label>
                            <input type="number" required="">
                            <div class="invalid_feedback">Ingrese el contacto</div>
                        </div>

                        <div class="cell-md-6">

                            <label>Rut(firma)</label>
                            <input type="text" required="">
                            <div class="invalid_feedback">Ingrese rut</div>
                        </div>

                    </div>


                    <div class="row mb-2">
                        <div class="cell-md-12">

                            <label>Nombre(firma)</label>
                            <input type="text" required="">
                            <div class="invalid_feedback">Ingrese el Nombre</div>
                        </div>
                    </div>


                    <!--Botones de Crear y volver atras-->
                    <button class="button primary">Guardar</button>
                    <input type="reset" class="button" value="Limpiar" />
                    <a href="@Url.Action("Index","Empresa")"> <input type="button" value="Atras"></a>

                </form>
            </div>
        </div>

    </div>


</body>
</html>

