<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Empresa</title>


    <style type="text/css">


        table {
            text-align: center;
        }
    </style>

</head>
<body>


    <div class="container">
        <br />
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Lista de Empresas</h3>
        <br />
        <br />

        <!--Menu verde alternativo-->
        <!--bg-cyan es para darle un color al fondo del menu izquierdo y fg-white cambia el color de las letras
        <ul class="d-menu open pos-static bg-cyan fg-white">
            <li><a href="@Url.Action("Crear","Empresa")"><span class="mif-user icon"></span> Agregar Usuario</a></li>
            <li class="divider"></li>
            <li><a href="#">Algo 2</a></li>
            <li><a href="#">Algo 3</a></li>
            <li><a href="#">Location</a></li>
        </ul>
        -->
        

        <!--Boton + para agregar Usuario-->
        <div class="multi-action">
            <button class="action-button rotate-minus bg-green fg-white" onclick="$(this).toggleClass('active')" title="Agregar Empresa">
                <span class="icon"><span class="mif-plus"></span></span>
            </button>
            <ul class="actions drop-right">
                <li class="bg-blue"><a href="@Url.Action("Crear","Empresa")"><span class="mif-truck"></span></a></li>
            </ul>
        </div>

        <!--.striped para sombrear las filas tipo cebra-->
        <table class="table compact cell-border table-border bg-white row-hover row-border " data-horizontal-scroll="true" data-pagination-short-mode="true">
            <thead>
                <tr style="text-align:center">
                    <th>Rut</th>
                    <th>Razon social</th>
                    <th>Password</th>
                    <th>Vigente</th>
                    <th>R. social SII</th>
                    <th>Acteco</th>
                    <th>Giro</th>
                    <th>Direccion</th>
                    <th>Comuna</th>
                    <th>Ciudad</th>
                    <th>Opciones</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>156156-6</td>
                    <td>Sevicio teleco</td>
                    <td>156156</td>
                    <td>Habilitado</td>
                    <td>servicio</td>
                    <td>Si</td>
                    <td>----</td>
                    <td>Av. Paicavi Concepcion</td>
                    <td>Concepcion</td>
                    <td>Concepcion</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>


                </tr>
                <tr>
                    <td>465141-6</td>
                    <td>Sevicio Mantenciones</td>
                    <td>156156</td>
                    <td>Habilitado</td>
                    <td>servicio</td>
                    <td>No</td>
                    <td>----</td>
                    <td>Av. Prat Concepcion</td>
                    <td>Concepcion</td>
                    <td>Concepcion</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>465141-6</td>
                    <td>Sevicio Galvacion</td>
                    <td>156156</td>
                    <td>Habilitado</td>
                    <td>servicio</td>
                    <td>No</td>
                    <td>----</td>
                    <td>Av. Prat Concepcion</td>
                    <td>Concepcion</td>
                    <td>Concepcion</td>
                    <td>
                        <select>
                            <option value="1">Seleccione Opcion</option>
                            <option value="1">Ver</option>
                            <option value="2">Modificar</option>
                            <option value="3">Eliminar</option>
                        </select>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>


</body>
</html>

