<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Empresa</title>


    <style type="text/css">
    </style>



</head>
<body>


    <div class="container">


        <div class="cell-lg-9">

            <div class="bg-white p-4 m-2">
                <h4>Detalle de la Empresa</h4>

                <form class="custom-validation need-validation" novalidate="">

                    <div class="row mb-3">
                        <div class="cell-md-3">
                            <label>Rut</label>
                            <input type="text" required="" value="12345678-9" disabled>
                            
                        </div>

                        <div class="cell-md-9">
                            <label>Nombre</label>
                            <input type="text" required value="Labram.sa" disabled>
                            
                        </div>

                    </div>


                    <div class="row mb-2">

                        <div class="cell-md-6">
                            <label>Razon Social</label>
                            <input type="text" required value="Servicios de Maestranza" disabled>
                          
                        </div>

                        <div class="cell-md-6">
                            <label>Giro</label>
                            <input type="text"  value="Metalurgia" disabled>
                            
                        </div>
                    </div>


                    <div class="row mb-2">

                        <div class="cell-md-6">
                            <label>Direccion</label>
                            <input type="text" value="Av. Paicavi 2025"  disabled>
                            
                        </div>

                        <div class="cell-md-6">
                            <label>Comuna</label>
                            <input type="text" value="Higueras" disabled>
                            
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="cell-md-6">
                            <label>Ciudad</label>
                            <input type="text" value="Talcahuano" disabled>
                          
                        </div>


                        <div class="cell-md-6">
                            <label>Email</label>
                            <input type="email" value="labransa@gmail.com" disabled>
                            
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="cell-md-6">

                            <label>Contacto</label>
                            <input type="number" value="45546646" disabled>
                           
                        </div>

                        <div class="cell-md-6">

                            <label>Rut(firma)</label>
                            <input type="text" value="5416150-12" disabled>
                          
                        </div>

                    </div>


                    <div class="row mb-2">
                        <div class="cell-md-12">

                            <label>Nombre(firma)</label>
                            <input type="text" value="Richard" disabled>
                           
                        </div>
                    </div>


                    <!--Botones de Crear y volver atras-->
                    <a href="@Url.Action("Index","Empresa")"> <input type="button" class="alert" value="Atras"></a>

                </form>
            </div>
        </div>

    </div>


</body>
</html>

