<div class="row border-bottom bd-lightGray m-3">
    <div class="cell-md-4 d-flex flex-align-center">
        <h3 class="dashboard-section-title  text-center text-left-md w-100">Pandora <small>Version 1.0</small></h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md flex-align-center">
        <ul class="breadcrumbs bg-transparent">
            <li class="page-item"><a href="#" class="page-link"><span class="mif-meter"></span></a></li>
            <li class="page-item"><a href="#" class="page-link">Dashboard</a></li>
        </ul>
    </div>
</div>

<div class="m-3">
    <div class="row mt-2">
        <div class="cell-lg-3 cell-sm-6 mt-2">
            <div class="icon-box border bd-cyan">
                <div class="icon bg-cyan fg-white"><span class="mif-cog"></span></div>
                <div class="content p-4">
                    <div class="text-upper"><br />Horas</div>
                </div>
            </div>
        </div>
        <div class="cell-lg-3 cell-sm-6 mt-2">
            <div class="icon-box border bd-red">
                <div class="icon bg-red fg-white"><span class="mif-google-plus"></span></div>
                <div class="content p-4">
                    <div class="text-upper"><br />Informes</div>
                </div>
            </div>
        </div>
        <div class="cell-lg-3 cell-sm-6 mt-2">
            <div class="icon-box border bd-green">
                <div class="icon bg-green fg-white"><span class="mif-cart"></span></div>
                <div class="content p-4">
                    <div class="text-upper">Administrar Horas Pendientes</div>
                </div>
            </div>
        </div>
        <div class="cell-lg-3 cell-sm-6 mt-2">
            <div class="icon-box border bd-orange">
                <div class="icon bg-orange fg-white"><span class="mif-users"></span></div>
                <div class="content p-4">
                    <div class="text-upper"><br />Configuración</div>
                </div>
            </div>
        </div>
    </div>

</div>
